/*Landing Page*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: 100%;
}
.selected{
    background: #666;
    color:#fff;
}
 .loginHeader{
    float: right;
    min-height: 40px;
}
.loginDropDown,.landingPage .actionDropDown{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 15px;
    background: #666;
    width: 100%;
    display: none;
    z-index: 999;
}
.landingPage .actionDropDown{
    left: 5px;
}

.loginDropDown ul,.actionDropDown ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.loginDropDown ul li,.actionDropDown ul li{
    float: left;
    width: 100%;
}
.loginDropDown ul li a,.actionDropDown ul li a{
    text-align: left;
    float: none !important;
    display: block;
    line-height: normal !important;
    padding: 7px 10px!important;
    text-decoration: none;
    font-size: 16px;
    color:#ffffff;
}
.actionDropDown ul li a{
    font-size: 13px;
}
.loginDropDown ul li a:hover,.actionDropDown ul li a:hover {
    background: #F6F6F6;
    color: #000;
}
.loginHeader .login {
    padding: 5px 15px;
    font-size: 16px;
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
}
.loginHeader .login .dropDown{
    top: -2px;
    left: 3px;
    cursor: pointer;
}
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
* html .ui-autocomplete {
    height: 100px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #9E9E9E;
    cursor: not-allowed;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #808080;
    border-color: #bfbfbf;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
 color: #9E9E9E;   
}
.pagination>li>a, .pagination>li>span{
    color:#afafaf;
}
.dialog-contents{
    padding: 10px;
}
.searchUserList{
    height: 150px;
    margin-top: 15px;
}
.inputUserList{
    width: 85%;
    height: 40px;
    border: 1px solid #d3d3d3;
    margin-top: 15px;
}
.landing .tooltip-inner{
    font-size: 13px;
}
.landingPage input[type=checkbox],.landingPage input[type=radio] {
    display: inline-block;
    margin: 10px 10px 10px 5px;
}
.inputFileCheck{
    margin-top: 2px !important;
}
.assignBtn{
    margin-left: 5px;
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before{
    font-size: 40px;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    padding: 0px;
}
.ui-widget.ui-widget-content{
    position: absolute;
    z-index: 99999;
    max-height: 225px;
}
.custom-navbar{
    min-height: 35px;
    margin-bottom: 0px;
    background-color: #337ab7;
    border-color: transparent;
    border-radius: 0px;
}
.bucketHeading{
    padding: 10px 10px 10px 15px;
    font-size: 16px;
    color: #808080;
    display: inline-block;
    width: 6%;
    float: left;
    font-weight: bolder;
}
.mainContent{
    background: #f5f5f5;
    height: 100%;
}
.landingPage .row{
    margin-left: 0px;
}
.landingPage .mainContainer{
    background-color: white;
    height: 66%;
    margin-right: 0px;
    border: 1px solid #d3d3d3;
    margin: 0 auto;
    width: 98%;
    margin-top: 15px;
}
.landingPage .panel-body {
    padding-bottom: 10px;
}
.custom-header{
    min-height: 20px;
}
tags-input .tags{
    padding: 5px;
}
tags-input {
    width: 100%;
    float: left;
}
tags-input .host {
    height: 40px;
}
.hospital-header{
    padding-top: 0px;
}
.hospital-header {
    max-height: 35px;
    margin-bottom: 10px;
}
.hospital-name {
    padding: 5px 15px;
    height: 30px;
}
.landingPage .searchIcon{
    position: absolute;
    top: 65px;
    font-size: 20px;
    right: 30px;
}
.custom-panel{
    border:none;
}
.custom-input{
    width: 89%;
    display: inline-block;
}
.custom-search-button{
    background-color: #f8f8f8;
    width: 10%;
    margin: 5px;
}
.custom-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #777;
    color: #ffffff;
    height: 35px;
    border-radius: 0px;
}
.landingPage .col-md-12{
    padding-left: 0px;
    padding-right: 0px;
    height: 93%;
}
.landingPage .middle-panel{
    border:1px solid #d3d3d3;
    padding:0px;
    height: 95%;
    overflow-y: auto;
}
.landingPage .right-panel{
    padding: 0px 6px 6px 2px;
    border: 1px solid #d3d3d3;
    height: 95%;
    overflow-y: auto;
}
.fileLeftDetails{
    width: 60%;
    display: inline-block
}
.fileRightDetails{
    width: 33%;
    float: right;
    display: inline-block;
    height: 35px;
}

.fileRightDetails .file-name span{
    padding: 1px 4px;
    color: #FFF;
    display: inline-block;
    font-size: 13px;
    min-width: 70%;
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
}
.allocateToTLBg{
   background-color: #BFB230; 
}
.draftBg{
   background: #f704d9; 
}
.readyForAllocationBg{
   background: red; 
}
.allocateToCoderBg{
    background: blue;
}
.codingCompletedBg{
    background: black;
}
.allocatedCoder{
    background: green;
}

.file-name{
    font-size: 16px;
    font-weight: bolder;
}
.receivedDate{
    color:grey;
    font-size:12px;
}
.file-details{
    background-color: #f5f5f5;
    border-bottom: 1px solid grey;
    padding: 5px;
    cursor: pointer;
}
.list-group-horizontal ul li{
    cursor: pointer;
}
.list-group{
    margin-bottom: 0px;
}
.list-group-horizontal .list-group-item {
    padding: 10px 10px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 20px;
    width: 210px;
    text-align: left;
    font-weight: bold;
    background-color: transparent;
    -webkit-box-shadow: 0px 1px 5px -1px rgba(120,116,120,1);
    -moz-box-shadow: 0px 1px 5px -1px rgba(120,116,120,1);
    box-shadow: 0px 1px 5px -1px rgba(120,116,120,1);
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #337ab7 !important;
}
.list-group-horizontal .list-group-item:first-child {
    margin-left: 15px;
}
.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
}
.rightFileHeader{
    width: 47.4%;
    padding: 5px;
    height: 50px;
    position: fixed;
    border-bottom: 2px solid gray;
    background-color: #f5f5f5;
    z-index: 9999;
}
.file-header{
    color: black;
    font-size: 22px;
    padding: 8px;
    width: 80%;
    display: inline-block;
    float: left;
}
.file-content{
    overflow: auto;
    float: left;
    padding-left: 15px;
    margin-top: 10%;
}
/*.rowSeparator{
    margin: 0 auto;
    width: 98%;
    height: 2px;
    background-color: gray;
}*/
.navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    color: #ffffff;
}
.suggestion-list li:hover{
    color: #fff;
    background-color: #0097cf;
}
tags-input .autocomplete{
    width: 20%;
}
.fileAssingeeName .fileCheckbox{
    visibility: hidden;
}
.fileCheckbox{
    width: 5%;
    display: inline-block;
    vertical-align: top;
}
.sortingHeader{
    padding-left: 5px;
    padding-right: 0px;
    background-color: #fff;
    padding: 5px;
}
.sortingHeader .leftSorter{
    width: 49%;
    display: inline-block;
    float: left;
}
.sortingHeader .leftSorter .inputDiv{
    width: 8%;
    display: inline-block;
    float: left;
}
.sortingHeader .leftSorter .inputDropDown{
    position: absolute;
    padding: 6px 8px;
    left: 25px;
    top: 5px;
    box-sizing: border-box;
}
.sortingHeader .rightSorter{
    width: 51%;
    display: inline-block;
}
.sortingHeader .dropDownAction{
    width: 30%;
    float:left;
    display: inline-block;
}
.sortingHeader .inputCheckbox{
    float: left;
}
.sortingHeader .refreshAction{
    float: left;
    padding: 5px;
    height: 30px;
    padding: 4px;
    cursor: pointer;
    margin-top: 5px;
    color: #9c9b9b;
    font-size: 20px;
    width: 5%;
}
.rightSorter .sortBy{
    float: left;
    display: inline-block;
    width: 55%;
}
.rightSorter .paginationBlock{
    float: right;
    margin: 5px;
    display: inline-block;
}
.rightSorter .paginationBlock .pagination{
    margin: 0px;
}
.landingPage .customSelect{
    position: relative;
}
.landingPage .customAction{
    display: inline-block;
    float: left;
    position: absolute;
    width: 20%;
}
.landingPage .customSelect select,.landingPage .customAction select{
    height: 30px;
    padding: 5px;
    border: 0;
    width: 54%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #969696;
    cursor: pointer;
    background: transparent;
    position: relative;
    z-index: 1;
    margin-top: 5px;
}
.landingPage .customSelect label.dropDown,.landingPage .customAction label.dropDown {
   position: relative;
    padding: 6px 8px;
    right: 30px;
    top: -2px;
    z-index: 1;
    pointer-events: none;
    box-sizing: border-box;
}
.landingPage .customAction label.dropDown {
    right: 30px;
}
.landingPage mark{
    background: #0af4eb;
}
.landingPage .customSelect div.sortImg {
    position: relative;
    padding: 6px 8px;
    top: 0px;
    z-index: 1;
    box-sizing: border-box;
    left: -10px;
    cursor: pointer;
    display: inline-block;
}
.landingPage .customSelect span,.landingPage .customAction span {
    color: #808080;
    font-size: 13px;
    padding: 10px 0px 0px 10px;
    font-weight: bolder;
}
.sortImage{
    display: none;
    width: 27px;
    height: 27px;
    background-color: white;
    margin-bottom: -4px;
    padding-bottom: 0px;
    cursor: pointer;
    border: 1px solid rgba(120,116,120,1);
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    position: relative;
}
.selectedItem{
    background-color: white;
}
.right-panel .editDiv{
    text-decoration: underline;
    cursor: pointer;
    border: 1px solid #808080;
    margin: 2px;
    width: 28px;
    float: right;
    height: 30px;
}
.right-panel .editIcon{
    font-size: 22px;
    color: #808080;
    padding: 3px;
}