.workingFileContents{
	width: 48%;
    padding: 0px 5px;
    float: left;
    height: 80%;
    border: 1px solid;
    overflow: scroll;
    margin: 0px 10px;
}

.actionBtn{
	margin-bottom: 0px;
    padding: 5px 5px;
    margin: 10px 0px;
    float: right;
}
.actionBtn button{
	width: 150px;
	height: 30px;
}
mark{
    background: #ff0;
}
.workingFileContents a{
    color:green;
}
.workingFileContents .nav-tabs>li{
    width: 33%;
}
.sectionHeading{
    font-size: 18px;
    font-weight: bolder;
}
.suggestedCode,.acceptedCode,.rejectedCode{
    width: 10%;
    display: inline-block;
    float: left;
}
.suggestedCodeDesc,.acceptedCodeDesc,.rejectedCodeDesc{
    width: 65%;
    word-wrap: break-word;
    overflow: auto;
    display: inline-block;
}
.codeAction{
    width: 25%;
    float: right;
    display: inline-flex;
}