.workingFileContents{
	width: 49%;
    padding: 0px 5px;
    float: left;
    height: 75%;
    border: 1px solid #aba9a9;
    overflow: scroll;
    margin: 0px 5px;
    overflow-x: hidden;
    position: relative;
}
.workingFileContents .leftSideContent{
    line-height: 2em !important;
}
.workingFileContents .individualCodeContainer{
    min-height: 90px;
    padding: 15px 10px;
    margin: 5px 0px;
}
.workingFileContents .rejectionContainer{
    margin: 0 auto;
    width: 98%
}
.table{
    border:1px solid #ddd;
}
.table>thead>tr>th {
    background: #5faaea;
    color: #fff;
    text-align: center;
}
.workingFileContents .codeAcceptTable .addCode{
    width: 15%;
}
.workingFileContents .codeAcceptTable .addCodeDesc{
    width: 75%;
}
.workingFileContents .codeAcceptTable .addCodeAction{
    width: 10%;
}
.workingFileContents .codeAcceptTable .codeAcceptIcon{
    text-align: center;
    cursor: pointer;
}
.workingFileContents .rejectionContainer .rejectionReasonValue{
    font-weight: bolder;
}
.workingFileContents .rejectionContainer .rejectionReasonComment{
    font-style: italic
}
.workingFileContents .codeLeftSide{
    width: 15%;
    float: left;
    display: inline-block;
    background-color: #5faaea;
    height: 30px;
    padding: 5px;
    color: white;
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
}
.workingFileContents .codeRightSide{
   width: 83%;
    float: left;
    display: inline-block;
    max-height: 58px;
    min-height: 45px;
}
.workingFileContents .codeRightSide .codeEvidanceContainer{
    width: 15%;
    float: left;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid;
    margin: 2px 5px;
}
.workingFileContents .codeRightSide .codeEvidance{
    padding: 1px 5px 0px 5px;
    word-wrap: break-word;
    overflow: auto;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
.workingPage .codeSearchContainer{
    display: none;
}
.workingPage #header{
    height: 5%;
}
.workingPage .noDataFound{
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    height: 20%;
}
.workingPage .dataContainer{
    text-align: center;
    color: #808080;
}
.workingPage .dataContainer h4{
    font-size: 26px
}
.workingPage .dataContainer .emptyData{
    font-size: 40px;
}
.workingPage .fileName{
    text-align: center;
    font-size: 20px;
    padding: 5px;
    height: 7%;
}
.workingPage .backBtn{
    float: left;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}
.workingPage .searchCodeList{
    width: 30%;
    float: left;
    border: 1px solid #bfbfbf;
    max-height: 68%;
    overflow-y: auto;
}
.workingPage .descContainer{
    width: 65%;
    float: left;
    border: 1px solid #bfbfbf;
    height: 68%;
    overflow-y: auto;
    padding: 5px;
}
.workingPage .descContainer .addCode{
    float: right;
    margin-top: 20%;
    margin-right: 2%;
}
.workingPage .descContainer .individuaCodeDesc{
    padding: 10px;
    margin-left: 15px;
}
.workingPage .searchCodeList ul li{
    border-bottom: 1px solid #bfbfbf;
    padding: 5px;
    cursor: pointer;
}
.searchCodeList ul li .codeDesc{
    display: none;
}
.workingPage .paginationBlock{
    display: none;
    float: right;
    width: 100%
}
.workingPage .individualCode{
    font-size: 16px;
    text-align: left;
    padding: 5px;
}
.workingPage .actionBtn{
	margin-bottom: 0px;
    padding: 5px 5px;
    margin: 0px 0px;
    float: right;
}
.workingPage .actionBtn button{
	width: 150px;
	height: 35px;
    border-radius: 0px;
}
.rejectionCode .actionBtn,.rejectionDocument .actionBtn{
    margin-top: 3%;
    right: 2%;
    position: absolute;
}
.rejectionCode .actionBtn button,.rejectionDocument .actionBtn button{
    width: 110px;
    height: 35px;
    border-radius: 0px;
    margin-left: 5px;
}
.workingPage mark{
    background: #5faaea;
    padding: 3px;
    cursor: pointer;
}
.workingFileContents a{
    color:#706d6f;
}
.workingFileContents .nav-tabs>li{
    width: 20%;
    text-align: center;
}
.workingFileContents .dateOfService{
    height: 30px;
    padding:5px;
    background-color: #696b6d;
    text-align: center;
    color:white;
}
.workingFileContents .sectionHeading{
    font-size: 18px;
    font-weight: bolder;
    padding:5px;
}
.suggestedCode,.acceptedCode,.rejectedCode,.mayBeCode{
   /* width: 10%;
    display: inline-block;
    float: left;*/
    cursor: pointer;
}
.suggestedCodeDesc,.acceptedCodeDesc,.rejectedCodeDesc,.mayBeCodeDesc{
    width: 90%;
    word-wrap: break-word;
    overflow: auto;
    display: inline-block;
    padding: 5px;
}
.workingPage .codeRightSide .acceptCodeImg,.workingPage .codeRightSide .rejectCodeImg{
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
}
.workingPage .codeAction{
    width: 10%;
    float: right;
    display: inline-flex;
}
.workingPage .highlighted{
    background: #afafaf;
}
.workingPage .searchCode{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}
.workingPage .tab-content>.active {
    display: block;
    position: relative;
}

.workingPage .searchIcon { 
   position: absolute;
    top: 15px;
    font-size: 20px;
    right: 10px;
}
.btn-success{
    color: #fff;
    background-color: #777;
    border-color: #777;
}
.btn-success:hover,.btn-success:active,.btn-success:active:hover,.btn-success:active:focus,.btn-success.focus,.btn-success:focus{
    color: #fff !important;
    background-color: #afafaf !important;
    border-color: #afafaf !important;
}
.btn-warning{
    background-color: transparent;
    border:none;
    color:#286090;
    outline: none;
}
.btn-warning.focus, .btn-warning:focus,.btn-warning:hover,.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover{
   background-color: transparent !important;
    border: none !important;
    color :#286090 !important;
    text-decoration: underline !important;
    outline: none !important;
}
.rejectionCode,.rejectionDocument{
    padding: 5px;
}
.rejectionCode .rejectHeading,.rejectionDocument .rejectHeading{
    text-align: center;
}
.rejectionCode ul li,.rejectionDocument ul li{
    width: 50%;
    display: inline-block;
    float: left;
    padding: 2px;
}
.rejectionCode .rejectCodeList{
    height: 42%;
}
.rejectionDocument .rejectionDocList{
    height: 20%;
}
.rejectionCode h3,.rejectionDocument h3{
    margin-top: 10px;
}
.rejectCodeDocPopup{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 0px;
    height: 145% !important;
}
textarea {
    resize: none;
    width: 100%;
}