
<div class="mainContent" ng-controller="landingPageCtrl">

    <div id="header">
        <nav class="navbar navbar-default custom-navbar">
          <div class="container-fluid">
            <div class="navbar-header custom-header">
              <a class="navbar-brand hospital-name" href="#">Hospital Name</a>
            </div>
           </div>
        </nav>
    </div>
    
    <div id="contentWrapperId" class="contentWrapper">
        <div id="centerContent" style=" min-width: 975px;">
            <div class="panel-body">
                <div class="form-group">
                    <tags-input ng-model="tags" add-on-paste="false" add-on-enter="false" add-on-blur="false" placeholder="Search">
                        <auto-complete source="loadTags($query)"></auto-complete>
                    </tags-input>
                    <button type="submit" class="btn btn-default custom-search-button">Search</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 .col-md-pull-9">
                    <div class="list-group">
                        <ul>
                            <li class="list-group-item" ng-repeat="list in listGroup" ng-click="changeBucket($index)" ng-class="{active: $index == selected}">
                                <span class="badge">
                                    {{list.bucketCount}}
                                </span>
                                {{list.bucketName}}
                            </li>
                        </ul>
                    </div>
                </div>
                
                
                <div class="col-md-10 .col-md-push-3">
                    
                    <div class="file-list-header">
                        
                    </div>
                    <div class="col-md-5 middle-panel">
                        <div class="list-group" >
                            <ul class="file-list" >
                                <li class="file-details" ng-repeat="file in fileArray">
                                    <div class="fileCheckbox" >
                                        <input type="checkbox" ng-show={{file.checkBoxVisible}} ng-model="fileChecked" >
                                    </div>
                                    <div class="fileLeftDetails">
                                        <div class="file-name">
                                            <span>
                                                {{file.fileName}}
                                            </span>
                                        </div>
                                        <div class="receivedDate">
                                            <span>
                                                {{file.receivedDate}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="fileRightDetails">
                                        <div class="file-name">
                                            <span class={{file.statusClass}}>
                                                {{file.fileStatus}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="fileAssingeeName">
                                        <span>
                                            {{file.assigneeName}}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-7 right-panel">
                        <div class="file-header">
                            File Name will appear here
                        </div>
                        <div class="file-content">
                            <div ng-bind-html="fileContent">

                            </div>
                        </div>
                    </div>
                </div>
               
                
            </div>
            
        </div>
    </div>

    <div id="footer">
    	<div class="panel panel-default custom-panel">
            <div class="panel-footer custom-footer">Panel Footer</div>
        </div>
    </div>

</div>
