
<div class="mainContent landingPage" ng-controller="landingPageCtrl">

    <div id="header">
        <nav class="navbar navbar-default custom-navbar">
          <div class="container-fluid">
            <div class="navbar-header custom-header">
              <a class="navbar-brand hospital-name" href="#">Hospital Name</a>
            </div>
            <div class="navbar-header custom-header loginHeader" >
                <div class="login">
                    <span class="user-details">Hi, Rachel Lee</span>
                    <label class="dropDown" ><i ng-click="openLoginDropDown()" class="fa fa-sort-desc" aria-hidden="true"></i></label>
                    <div class="loginDropDown">
                        <ul>
                            <li><a href="javascript:void(0)" ng-click="redirectToProfile()">Profile</a></li>
                            <li><a href="javascript:void(0)" ng-click="redirectToLogin()">Logout</a></li>
                        </ul>
                    </div>
                </div>
             </div>
          </div>
        </nav>
    </div>
    
    <div id="contentWrapperId" class="contentWrapper">
        <div id="centerContent" style=" min-width: 975px;">
            <div class="panel-body">
                <div class="form-group searchBar">
                    <tags-input ng-model="tags" add-on-paste="false" add-on-enter="false" add-on-blur="false" placeholder="Search">
                        <auto-complete source="loadTags($query)"></auto-complete>
                    </tags-input>
                    <i class="fa fa-search searchIcon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row bucketRow">
                <div class="bucketHeading">
                    Buckets
                </div>
                <div class="list-group list-group-horizontal">
                    <ul>
                        <li id={{list.bucketName}} class="list-group-item" ng-repeat="list in listGroup" ng-click="changeBucket($event,$index)" ng-class="{active: $index == selected}">
                            <span class="badge">
                                {{list.bucketCount}}
                            </span>
                            {{list.bucketName}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mainContainer">
                
                <div class="col-md-12 .col-md-push-3">
                    <div class="container-fluid sortingHeader">
                        <div class="fileListHeader">
                            <div class="leftSorter">
                                <div class="inputDiv" ng-show="showAllCheckbox" ng-mouseenter="openActionDropDown()"  ng-mouseleave="closeActionDropDown()">
                                      <input type="checkbox" class="inputCheckbox" ng-model="mycheckbox" ng-click="checkAll()">
                                      <label class="inputDropDown"><i class="fa fa-sort-desc" aria-hidden="true"></i></label>
                                      <div class="actionDropDown">
                                        <ul>
                                            <li><a href="javascript:void(0)" ng-click="checkAllFiles()">All</a></li>
                                            <li><a href="javascript:void(0)" ng-click="uncheckAllFiles()">None</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="refreshAction" data-toggle="tooltip" title="Click to refresh. You won't lose any applied search or sorting" ng-click="refreshList()">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </div>
                                <div class="dropDownAction">
                                    <div class="customAction" ng-show="showAction">
                                        <span> Actions:</span>
                                        <label class="dropDown"><i class="fa fa-sort-desc" aria-hidden="true"></i></label>
                                        <select name="mySelect" id="mySelect" ng-options="option.name for option in action.availableOptions track by option.id" value="option.id" ng-model="action.selectedOption" ng-change="getCheckedFile(action.selectedOption)"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="rightSorter">
                                <div class="sortBy">
                                    <div class="customSelect">
                                    <span> Sort By:</span>
                                    <label class="dropDown"><i class="fa fa-sort-desc" aria-hidden="true"></i></label>
                                    <select id="groupBy" name="mySelectGroup" ng-options="group.name for group in group.availableOptions track by group.id"
                                          ng-model="group.selectedOption" ng-change="getGroupByOption(group.selectedOption
        )"></select>
                                    <div class="sortImg" ng-click="changeOrder($event)"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
                                   
                                </div>
                                </div>
                                <div class="paginationBlock">
                                    <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="perPageCount"  class="pagination-sm" boundary-links="true" first-text="First" next-text=">>" previous-text="<<" num-pages="numPages" ng-change="pageChanged()"></uib-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 middle-panel">
                        <div class="list-group" >
                            <ul class="file-list" >
                                <li class="file-details" ng-class="{selectedItem: $index == selectedFile}" ng-model="fileDetails" ng-repeat="file in roles" ng-click="getFileDetails($event,$index,file)">
                                    <div class="fileCheckbox" >
                                        <input class="inputFileCheck" checklist-model="user.roles" checklist-value="file" type="checkbox" ng-show={{file.checkBoxVisible}} ng-click="listCheckAll()">
                                    </div>
                                    <div class="fileLeftDetails">
                                        <div class="file-name">
                                            <span>
                                                {{file.fileName}}
                                            </span>
                                        </div>
                                        <div class="receivedDate">
                                            <span>
                                                Received Date: {{file.receivedDate}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="fileRightDetails">
                                        <div class="file-name">
                                            <span class={{file.statusClass}}>
                                                {{file.fileStatus}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="fileAssingeeName">
                                        <div class="fileCheckbox" >
                                        </div>
                                        <span>
                                            Assigned by: {{file.assigneeName}}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 right-panel">
                        <div class="rightFileHeader">
                            <div class="file-header" ng-model="fileName">
                                {{fileName}}
                            </div>
                            <div ng-click="redirectToWorking()" class="editDiv"> 
                                <i class="fa fa-pencil editIcon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="rowSeparator">

                        </div>
                        <div class="file-content">
                            <div class="viewFileContent">
                                
                            </div>
                            <div ng-bind-html="fileContent">

                            </div>
                        </div>
                    </div>
                </div>
               
                
            </div>
            
        </div>
    </div>

    <div id="footer">
    	<div class="panel panel-default custom-panel">
            <div class="panel-footer custom-footer">All Right Reserved @ SunStretch2016.</div>
        </div>
    </div>

</div>
