<div class="mainContent workingPage">
	<div id="centerContent" style=" min-width: 975px;">
	    <div id="header">
	        <nav class="navbar navbar-default custom-navbar">
	          <div class="container-fluid">
	            <div class="navbar-header custom-header">
	              <a href="javascript:void(0)" ng-bind="clientName" class="navbar-brand hospital-name" ng-click="redirectToLandingPage()"></a>
	            </div>
	            <div class="navbar-header custom-header loginHeader" >
	                <div class="login" ng-mouseenter="openLoginDropDown()"  ng-mouseleave="closeLoginDropDown()">
	                    <span ng-bind="userName" class="user-details"></span>
	                    <label class="dropDown"><i class="fa fa-sort-desc" aria-hidden="true"></i></label>
	                    <div class="loginDropDown">
	                        <ul>
	                            <li><a href="javascript:void(0)" ng-click="redirectToProfile()">Profile</a></li>
	                            <li><a href="javascript:void(0)" ng-click="redirectToLogin()">Logout</a></li>
	                        </ul>
	                    </div>
	                </div>
	             </div>
	          </div>
	        </nav>
	    </div>
	    <div class="fileName">
	    	<label class="backBtn" ng-click="documentStatusChange(DRAFT)">
	    		<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
	    	</label>
	    	<div ng-bind="fileId" class="fileName">

	    	</div>
	    </div>
	    
	    <div class="workingFileContents leftSideContent">
	    	<form name="outerForm" class="tab-form-demo">
	            <uib-tabset active="activeContent">
	                <uib-tab index="0" heading="File Content" ng-click="leftTabChanged($event)">
	                    <ng-form name="nestedForm">
	                      <div class="form-group"  ng-scrollbars data-mcs-theme="minimal-dark">
	                            <div class="actualFileText" ng-bind-html="workingFileContent">

	            				</div>
	                      </div>
	                    </ng-form>
	                </uib-tab>
	                <uib-tab index="1" heading="Comment" ng-click="leftTabChanged($event)" ng-show="commentTab">
	                    <ng-form name="nestedForm">
	                        <div class="form-group">
	                        	<ul class="commentsList">
	                        		<li ng-repeat="comment in commentsList" ng-mouseover="showReplyIcon(comment)" ng-mouseout="hideReplyIcon(comment)">
	                        			<div class="commentContainer">
		                        			<div class="commentorName"><span style="font-weight:bold" >Commentor Name: </span>{{comment.documentAssignedName}}</div>
			                                <div class="commentReason" ng-bind="comment.doubtRebuttalDisplay"></div>
			                                <div class="commentText" ng-bind="comment.doubtRebuttalDesc"></div>
			                                <div class="replyButton">
			                                	<span ng-click="showReplyTextArea()">
			                                		<i class="fa fa-reply" aria-hidden="true"></i>
			                                	</span>
			                                </div>
			                                <div class="replyCommentContainer">
				                                <div class="commentText">
					                                <textarea class="replyCommentText" rows="2" cols="50">
							
													</textarea> 
												</div>
												<div class="replyButtonContainer">
													<button type="button" value="CANCEL" ng-click="hideReplyTextArea()" class="btn btn-primary">CANCEL</button>
													<button type="button" value="SUBMIT" ng-click="postComment()" class="btn btn-success">SUBMIT</button>
												</div>
											</div>
										</div>
	                        		</li>
	                        	</ul>
                            </div>
	                    </ng-form>
	                </uib-tab>
	            </uib-tabset>
	        </form>
	    </div>

	    <div class="workingFileContents rightSideContent" >
	    	<form name="outerForm" class="tab-form-demo">
			    <uib-tabset active="activeForm">
			     <uib-tab index="0" heading="Coded Code" class="Accepted" ng-click="tabChanged()">
			      <ng-form name="nestedForm" >
			          <div class="form-group" ng-scrollbars data-mcs-theme="minimal-dark">
				      	<ul class="codeList" ng-repeat="section in acceptedCode track by $index" ng-if="section.codes.length > 0">
				      		<div class="dateOfService">{{section.dos}}</div>
			          		<li class="sectionHeading">{{section.sectionName}}</li>
			          		<div ng-repeat="code in section.codes track by $index">
			          			<div class="individualCodeContainer">
			          				<div class="codeLeftSide">
					          			<span class='acceptedCode {{code.code}}' ng-click="clickedSuggestedCode($event)">{{code.code}}</span>
					          		</div>
					          		<div class="codeRightSide">
					          			<span class="acceptedCodeDesc">{{code.desc}}</span>
					          			<span class="codeAction switch-toggle switch-3 switch-candy" ng-show={{editRight}}>
						          			<span data-toggle="tooltip" title="Reject" class="rejectCodeImg" ng-click="codeStatus(code,section,$element)">
					          					<i class="fa fa-times" aria-hidden="true"></i>
					          				</span>
					          			</span>
										<span ng-repeat="token in code.token" ng-if="code.token.length > 0" class="codeEvidanceContainer">
											<span class="codeEvidance" data-toggle="tooltip" title={{token}} >{{token}}</span>
										</span>
									</div>
				          		</div>
			          		</div>
			          	</ul>
			          	</div>
			      </ng-form>
			      </uib-tab>
			      <uib-tab index="1" heading="Suggested" class="Suggested" ng-click="tabChanged()">
			        <ng-form name="nestedForm">
			          <div class="form-group" ng-scrollbars data-mcs-theme="minimal-dark">
			          	<ul class="codeList" ng-repeat="section in suggestedCode track by $index" ng-if="section.codes.length>0">
			      			<div class="dateOfService">{{section.dos}}</div>
			          		<li class="sectionHeading">{{section.sectionName}}</li>
			          		<div ng-repeat="code in section.codes">
			          			<div class="individualCodeContainer">
			          				<div class="codeLeftSide">
				          				<span class="suggestedCode  {{code.code}}" ng-click="clickedSuggestedCode()">{{code.code}}</span>
				          			</div>
				          			<div class="codeRightSide">
					          			<span class="suggestedCodeDesc">{{code.desc}}</span>
					          			<span class="codeAction switch-toggle switch-3 switch-candy" ng-show={{editRight}}>
					          				<span data-toggle="tooltip" title="Accept" class="acceptCodeImg" ng-click="codeStatus(code,section,$element)">
					          					<i class="fa fa-check" aria-hidden="true"></i>
					          				</span>
					          				<span data-toggle="tooltip" title="Reject" class="rejectCodeImg" ng-click="codeStatus(code,section,$element)">
					          					<i class="fa fa-times" aria-hidden="true"></i>
					          				</span>					          				
										</span>
										<span ng-repeat="token in code.token" ng-if="code.token.length > 0" class="codeEvidanceContainer">
											<span class="codeEvidance" data-toggle="tooltip" title={{token}} >{{token}}</span>
										</span>
									</div>
				          		</div>
			          		</div>
			          	</ul>
			          </div>
			        </ng-form>
			      </uib-tab>
			     
			      <uib-tab index="2" heading="Rejected" class="Rejected" ng-click="tabChanged()">
			      <ng-form name="nestedForm">
			          <div class="form-group" ng-scrollbars data-mcs-theme="minimal-dark">
			          	<ul class="codeList" ng-repeat="section in rejectedCode track by $index" ng-if="section.codes.length > 0">
			        	<div class="dateOfService">{{section.dos}}</div>
		          		<li class="sectionHeading">{{section.sectionName}}</li>
		          		<div  ng-repeat="code in section.codes track by $index">
		          			<div class="individualCodeContainer">
		          				<div class="codeLeftSide">
				          			<span class="rejectedCode" ng-click="clickedSuggestedCode()">{{code.code}}</span>
				          		</div>
			          			<div class="codeRightSide">
				          			<span class="rejectedCodeDesc">{{code.desc}}</span>
				          			<span class="codeAction switch-toggle switch-3 switch-candy" ng-show={{editRight}}>
					          			<span data-toggle="tooltip" title="Accept" class="acceptCodeImg" ng-click="codeStatus(code,section,$element)">
					          					<i class="fa fa-check" aria-hidden="true"></i>
				          				</span>
				          			</span>
									<span ng-repeat="token in code.token" ng-if="code.token.length > 0"  class="codeEvidanceContainer">
										<span class="codeEvidance" data-toggle="tooltip" title={{token}} >{{token}}</span>
									</span>
								</div>
								<div class="rejectionContainer" ng-if="code.rejectionReasonDisplay">
									<span class="rejectionReasonValue">{{code.rejectionReasonDisplay}} : </span> 
									<span class="rejectionReasonComment">{{code.rejectionReasonDesc}}</span> 
								</div>
			          		</div>
		          		</div>
		          	</ul>
		          	</div>
			        </ng-form>
			      </uib-tab>

			      <uib-tab index="3" heading="Add Code" ng-click="tabChanged()"  ng-show={{editRight}}>
			      <ng-form name="nestedForm"  ng-show={{editRight}}>
			          <div class="form-group" ng-scrollbars data-mcs-theme="minimal-dark">
			        	<input ng-model="searchText" class="searchCode codeList" type="text" ng-change="searchCode(searchText)" placeholder="Search" autofocus>
		                <!-- <i class="fa fa-search searchIcon" aria-hidden="true"></i> -->
		                <div class="paginationBlock">
                            <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="perPageCount"  class="pagination-sm" max-size="maxSize" boundary-links="true" first-text="First" next-text=">>" previous-text="<<" num-pages="numPages" ng-change="pageChanged(currentPage)"></uib-pagination>
                        </div>
                        <div class="codeSearchContainer" >
                        	<div class="codeSearchHeading">
                        		<span class="addCode">Code</span>
							    <span class="addCodeDesc">Description</span>
							    <span class="addCodeAction">Action</span>
                        	</div>
                        	<ul class="codeAcceptTable">
                        		<li class="codeItem" ng-repeat="code in codeList">
                        			<span class="addCode" ng-bind="code.code"></span>
								    <span class="addCodeDesc" ng-bind="code.desc"></span>
								    <span class="addCodeAction codeAcceptIcon">
								    	<div data-toggle="tooltip" title="Add Evidence" data-placement="left" ng-click="addEvidence()" class="acceptCodeImg" >
				          					<i class="fa fa-angle-double-down" aria-hidden="true"></i>
				          				</div>
				          			</span>
				          			<label id="collapseme" class="collapse out">
				          				<div class="evidenceDiv">  
				          					<tags-input ng-model="tags" add-on-paste="false" add-on-enter="false" add-on-blur="false" add-on-space="true" placeholder="Please add evidence">
						                    </tags-input>
								    	<span class="codeAcceptIcon" ng-click="addCode(code,tags)">
									    	<i class="fa fa-check" aria-hidden="true"></i>
									    </span>
									    <hr>
				          			</label>
                        		</li>
                        	</ul>
                        </div>
                        </div>
			        </ng-form>
			      </uib-tab>
			      <div class="noDataFound" ng-show="emptyData">
			      	<div class="dataContainer">
			      		<h4> No Data Available</h4>
			      		<i class="fa fa-exclamation-triangle emptyData" aria-hidden="true"></i>	
			      	</div>
			      </div>

			    </uib-tabset>
			 </form>
	    </div>
	    <div class="actionBtn">
	    	<button type="button" value="REJECTED" ng-click="documentStatusChange()" class="btn btn-warning" ng-show="isRejectedButton">REJECTED</button>
	    	<button type="button" value="DOUBT" ng-click="doubtFile()" class="btn btn-default" ng-show="isDoubtButton">DOUBT</button>
	    	<button type="button" value="COMPLETE" ng-click="fileCompleted()" class="btn btn-warning" ng-show="downloadButton">DOWNLOAD</button>
	    	<button type="button" value="DRAFT" ng-click="resolvedDoubt()" class="btn btn-default" ng-show="isResolvedButton">RESOLVED</button>
			<button type="button" value="DRAFT" ng-click="documentStatusChange()" class="btn btn-primary" ng-show="isDraftButton">DRAFT</button>
			<button type="button" value="SUBMIT" ng-click="documentStatusChange()" class="btn btn-success" ng-show="isCompletedButton">COMPLETED</button>
			<button type="button" value="REBUTTAL" ng-click="rebuttalFile()" class="btn btn-default" ng-show="isRebuttalButton">REBUTTAL</button>
			<button type="button" value="SUBMIT" ng-click="documentStatusChange()" class="btn btn-primary" ng-show="isSentButton">SEND</button>
	    </div>
	     <div id="footer">
	    	<div class="panel panel-default custom-panel">
	            <div class="panel-footer custom-footer">All Right Reserved @ SunStretch2016.</div>
	        </div>
	    </div>
	</div>
</div>