<div class="mainContent workingPage" ng-controller="workingPageCtrl">
	<div id="centerContent" style=" min-width: 975px;">
	    <div class="panel-body">
	        
	    </div>
	    <div class="workingFileContents leftSideContent" ng-scrollbar>
	    	<div ng-bind-html="workingFileContent">

            </div>
	    </div>
	    <div class="workingFileContents rightSideContent">
	    	<form name="outerForm" class="tab-form-demo">
			    <uib-tabset active="activeForm">
			      <uib-tab index="0" heading="Suggested" ng-click="tabChanged()">
			        <ng-form name="nestedForm">
			          <div class="form-group">
			          	<ul ng-repeat="section in suggestedCode track by $index" ng-if="section.codes.length>0">
			          		<li class="sectionHeading">{{section.sectionName}}</li>
			          		<div ng-repeat="code in section.codes">
			          			<p>
				          			<span class="suggestedCode  {{code.code}}" ng-click="clickedSuggestedCode()">{{code.code}}</span>
				          			<span class="suggestedCodeDesc">{{code.desc}}</span>
				          			<span class="codeAction switch-toggle switch-3 switch-candy">
									    <input id="on" name="state-d" ng-model="acceptCode" type="radio" ng-click="codeStatus(code,section,$element)">
									    <label for="on">ACCEPT</label>
									    <input id="off" name="state-d" ng-model="rejectCode" type="radio" ng-click="codeStatus(code,section,$element)">
									    <label for="off">REJECT</label>
									    <a></a>
									</span>
				          		</p>
			          		</div>
			          	</ul>
			          </div>
			        </ng-form>
			      </uib-tab>
			      <uib-tab index="1" heading="Accepted" ng-click="tabChanged()">
			      	<ul ng-repeat="section in acceptedCode track by $index" ng-if="section.codes.length > 0">
		          		<li class="sectionHeading">{{section.sectionName}}</li>
		          		<div ng-repeat="code in section.codes track by $index">
		          			<p>
			          			<span class="acceptedCode" ng-click="clickedSuggestedCode()">{{code.code}}</span>
			          			<span class="acceptedCodeDesc">{{code.desc}}</span>
			          			<span class="codeAction switch-toggle switch-3 switch-candy">			    
								    <input id="off" name="state-d" type="radio" ng-click="codeStatus(code,section,$element)">
								    <label for="off" onclick="">REJECT</label>
								</span>
			          		</p>
		          		</div>
		          	</ul>
			      </uib-tab>
			      <uib-tab index="2" heading="Rejected" ng-click="tabChanged()">
			        <ul ng-repeat="section in rejectedCode track by $index" ng-if="section.codes.length > 0">
		          		<li class="sectionHeading">{{section.sectionName}}</li>
		          		<div  ng-repeat="code in section.codes track by $index">
		          			<p>
			          			<span class="rejectedCode" ng-click="clickedSuggestedCode()">{{code.code}}</span>
			          			<span class="rejectedCodeDesc">{{code.desc}}</span>
			          			<span class="codeAction switch-toggle switch-3 switch-candy">
								    <input id="on" name="state-d" type="radio" ng-click="codeStatus(code,section,$element)">
								    <label for="on" onclick="">ACCEPT</label>
								</span>
			          		</p>
		          		</div>
		          	</ul>
			      </uib-tab>
			      <uib-tab index="3" heading="MayBe" ng-click="tabChanged()">
			        <ul ng-repeat="section in mayBeCode track by $index" ng-if="section.codes.length > 0">
		          		<li class="sectionHeading">{{section.sectionName}}</li>
		          		<div  ng-repeat="code in section.codes track by $index">
		          			<p>
			          			<span class="mayBeCode {{code.code}}" ng-click="clickedSuggestedCode()">{{code.code}}</span>
			          			<span class="mayBeCodeDesc">{{code.desc}}</span>
			          			<span class="codeAction switch-toggle switch-3 switch-candy">
								    <input id="on" name="state-d" type="radio" ng-click="codeStatus(code,section,$element)">
								    <label for="on" onclick="">ACCEPT</label>
								    <input id="off" name="state-d" ng-model="rejectCode" type="radio" ng-click="codeStatus(code,section,$element)">
									<label for="off">REJECT</label>
								</span>
			          		</p>
		          		</div>
		          	</ul>
			      </uib-tab>

			      <uib-tab index="4" heading="Add Code" ng-click="tabChanged()">
			        	<input ng-model="searchTerm" class="searchCode" type="text" ng-keyup="searchCode(searchTerm)" placeholder="Search">
		                <i class="fa fa-search searchIcon" aria-hidden="true"></i>
		                <div class="paginationBlock">
                            <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="perPageCount"  class="pagination-sm" max-size="maxSize" boundary-links="true" first-text="First" next-text=">>" previous-text="<<" num-pages="numPages" ng-change="pageChanged(currentPage)"></uib-pagination>
                        </div>
                        <div class="codeSearchContainer">
                        	<div class="searchCodeList">
                        		<ul class="codeList">
                        			<li ng-repeat="code in codeList"  ng-class="{selectedItem: $index == selectedFile}" ng-click="getCodeDesc($event,$index,code)">
                        				<label class="individualCode" ng-bind="code.code">
                        				</label>
                        				<label class="codeDesc" ng-bind="code.desc"></label>
                        			</li>
                        		</ul>
                        	</div>
                        	<div class="descContainer">
                        		<h3>Code: <h3>
                        		<div class="individualCode">

                        		</div>
                        		<h3>Description: </h3>
                        		<div class="individualCodeDesc">

                        		</div>
                        		<div class="addCode">
                        			<button type="button" value="Add" ng-click="addCode()" class="btn btn-primary">Add Code</button>
                        		</div>
                        	</div>
                        </div>
			      </uib-tab>

			    </uib-tabset>
			 </form>
	    </div>
	    <div class="actionBtn">
			<button type="button" value="DRAFT" ng-click="documentStatusChange()" class="btn btn-primary">DRAFT</button>
			<button type="button" value="REJECTED" ng-click="documentStatusChange()" class="btn btn-warning">REJECTED</button>
			<button type="button" value="SUBMIT" ng-click="documentStatusChange()" class="btn btn-success">SUBMIT</button>
	    </div>
	     <div id="footer">
	    	<div class="panel panel-default custom-panel">
	            <div class="panel-footer custom-footer">All Right Reserved @ SunStretch2016.</div>
	        </div>
	    </div>
	</div>
</div>