<div class="mainContent workingPage" ng-controller="workingPageCtrl">
	<div id="centerContent" style=" min-width: 975px;">
	    <div class="panel-body">
	        
	    </div>
	    <div class="workingFileContents leftSideContent" ng-scrollbar>
	    	<div ng-bind-html="workingFileContent">

            </div>
	    </div>
	    <div class="workingFileContents rightSideContent">
	    	<form name="outerForm" class="tab-form-demo">
			    <uib-tabset active="activeForm">
			      <uib-tab index="0" heading="Suggested">
			        <ng-form name="nestedForm">
			          <div class="form-group">
			          	<ul ng-repeat="section in suggestedCode track by $index" ng-if="section.codes.length>0">
			          		<li class="sectionHeading">{{section.sectionName}}</li>
			          		<div ng-repeat="code in section.codes">
			          			<p>
				          			<span class="suggestedCode  {{code.code}}" ng-click="clickedSuggestedCode()">{{code.code}}</span>
				          			<span class="suggestedCodeDesc">{{code.desc}}</span>
				          			<span class="codeAction switch-toggle switch-3 switch-candy">
									    <input id="on" name="state-d" ng-model="acceptCode" type="radio" ng-click="codeStatus(code,section,$element)">
									    <label for="on">ACCEPT</label>
									    <input id="off" name="state-d" ng-model="rejectCode" type="radio" ng-click="codeStatus(code,section,$element)">
									    <label for="off">REJECT</label>
									    <a></a>
									</span>
				          		</p>
			          		</div>
			          	</ul>
			          </div>
			        </ng-form>
			      </uib-tab>
			      <uib-tab index="1" heading="Accepted">
			      	<ul ng-repeat="section in acceptedCode track by $index" ng-if="section.codes.length > 0">
		          		<li class="sectionHeading">{{section.sectionName}}</li>
		          		<div ng-repeat="code in section.codes track by $index">
		          			<p>
			          			<span class="acceptedCode" ng-click="clickedSuggestedCode()">{{code.code}}</span>
			          			<span class="acceptedCodeDesc">{{code.desc}}</span>
			          			<span class="codeAction switch-toggle switch-3 switch-candy">			    
								    <input id="off" name="state-d" type="radio" ng-click="codeStatus(code,section,$element)">
								    <label for="off" onclick="">REJECT</label>
								</span>
			          		</p>
		          		</div>
		          	</ul>
			      </uib-tab>
			      <uib-tab index="2" heading="Rejected">
			        <ul ng-repeat="section in rejectedCode track by $index" ng-if="section.codes.length > 0">
		          		<li class="sectionHeading">{{section.sectionName}}</li>
		          		<div  ng-repeat="code in section.codes track by $index">
		          			<p>
			          			<span class="rejectedCode" ng-click="clickedSuggestedCode()">{{code.code}}</span>
			          			<span class="rejectedCodeDesc">{{code.desc}}</span>
			          			<span class="codeAction switch-toggle switch-3 switch-candy">
								    <input id="on" name="state-d" type="radio" ng-click="codeStatus(code,section,$element)">
								    <label for="on" onclick="">ACCEPT</label>
								</span>
			          		</p>
		          		</div>
		          	</ul>
			      </uib-tab>
			      <uib-tab index="3" heading="MayBe">
			        <ul ng-repeat="section in mayBeCode track by $index" ng-if="section.codes.length > 0">
		          		<li class="sectionHeading">{{section.sectionName}}</li>
		          		<div  ng-repeat="code in section.codes track by $index">
		          			<p>
			          			<span class="mayBeCode {{code.code}}" ng-click="clickedSuggestedCode()">{{code.code}}</span>
			          			<span class="mayBeCodeDesc">{{code.desc}}</span>
			          			<span class="codeAction switch-toggle switch-3 switch-candy">
								    <input id="on" name="state-d" type="radio" ng-click="codeStatus(code,section,$element)">
								    <label for="on" onclick="">ACCEPT</label>
								    <input id="off" name="state-d" ng-model="rejectCode" type="radio" ng-click="codeStatus(code,section,$element)">
									<label for="off">REJECT</label>
								</span>
			          		</p>
		          		</div>
		          	</ul>
			      </uib-tab>

			      <uib-tab index="4" heading="Add Code">
			        	<tags-input ng-model="tags" add-on-paste="false" add-on-enter="false" add-on-blur="false" placeholder="Search">
			                
			                <i class="fa fa-search searchIcon" aria-hidden="true"></i>
			            </tags-input>
			      </uib-tab>

			    </uib-tabset>
			 </form>
	    </div>
	    <div class="actionBtn">
			<button type="button" class="btn btn-primary">DRAFT</button>
			<button type="button" class="btn btn-warning">REJECTED</button>
			<button type="button" class="btn btn-success">SUBMIT</button>
	    </div>
	</div>
</div>