 <div class="container">
      <div id="login">
        <form method="post">
          <div class="clearfix">
            <p><span class="fontawesome-user"></span><input type="text" placeholder="Username" ng-model="userName" required></p>
            <p><span class="fontawesome-lock"></span><input type="password" placeholder="Password" ng-model="userPassword" required></p> 
            <p><input type="submit" value="Sign In" ng-click="processLogin()"></p>
          </div>
        </form>
      </div>
</div>